<div class="container padding-80 w-container">
  <div class="grid-basic">
    <div id="w-node-eebf6b0caedb-b1edf646" class="intro-left-wrap">
      <div class="title-section">Formulaire de contact</div>
      <p class="paragraph-alias">Pour récupérer vos données, vous devez les demander à partir de la plate-forme souhaitée, le problème est qu'elles sont parfois juridiquement compliquées. C'est pourquoi Alias vous propose la solution qui peut être créée de toutes pièces et adaptée à vos besoins pour chaque plate-forme. Il vous suffit ensuite d'envoyer votre demande et d'accéder à la réception de vos données.
      </p>
    </div>
    <div id="w-node-eebf6b0caee2-b1edf646">
      <div class="form01">
        <div class="form01_title_wrap">
          <h5 class="form01_h5">Une interrogation? Une demande?</h5>
          <p class="form01_paragraph">Contactez-nous</p>
          <div class="form01_line"></div>
        </div>
        <%= simple_form_for @request do |f| %>
          <%= f.input :email,
          autofocus: true,
          class: "form01_input w-input" %>
          <%= f.input :user_first_name,
                  autofocus: true,
                  class: "form01_input w-input" %>
          <%= f.input :user_last_name,
                  autofocus: true,
                  class: "form01_input w-inputt" %>
          <%= f.input :content,
                  autofocus: true,
                  class: "form01_input_full w-input" %>
          <%= f.button :submit, "Validez", id: '#sweet-alert-btn',
                class: "button_p-2 w-button" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container padding-80 w-container">
    <div class="f01_top_wrap">
      <a href="#" class="f01_logo w-nav-brand">
        <h3 class="heading-14">Alias</h3>
      </a>
    </div>
    <div class="f01_columns w-row">
      <!-- <div class="f01_column w-col w-col-2 w-col-small-small-stack">
      <div class="f01_title">Main links</div>
      <a href="#" class="f01_link">For users</a>
      <a href="#" class="f01_link">For business</a>
    </div> -->
      <div class="f01_column w-col w-col-2 w-col-small-small-stack">
        <div class="f01_title">About us</div>
        <%= link_to 'Contact', request_path, class: "f01_link" %>
        <a href="https://medium.com/@gdprtoken" class="f01_link">Blog</a>
      </div>
      <div class="f01_column w-col w-col-2 w-col-small-small-stack">
        <div class="f01_title">Legal</div>
        <%= link_to 'Terms and conditions', terms_and_conditions_path, class: "f01_link" %>
      </div>
      <div class="f01_column w-col w-col-2 w-col-small-small-stack"></div>
      <div class="f01_column_right w-col w-col-4 w-col-small-small-stack">
        <div class="f01_title">Follow Our Socials</div>
        <div class="f01_social_wrap">
          <div class="f01_social_circle_c">
            <%= link_to ('https://github.com/Djoudi21/VOICELAB') do %>
              <%= image_tag ("icon-github.png") %>
            <% end %>
          </div>
          <div class="f01_social_circle">
            <%= link_to root_path do %>
              <%= image_tag ("icon-twitter.png") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
