<html data-wf-page="5dd14b771e22cb7159ab2a37" data-wf-site="5dd02051c5a7ed2bee543746">
  <body class="body">
    <div class="custom-body" style="height: 100vh;">
      <div
        data-autoplay="true"
        data-loop="true"
        data-wf-ignore="true"
        data-poster-url="/app/assets/videos/video-poster-00001.jpg"
        data-video-urls="/app/assets/videos/video-transcode.mp/app/assets/videos/video-transcode.webm"
        class="background-video-voice w-background-video w-background-video-atom">
        <%= video_tag(["video-transcode.mp4", "video-transcode.webm"], autoplay: :autoplay, loop: :loop,) %>
        <div class="overlay-video blue">
          <div class="w-container">
            <div class="hero6-content">
              <div class="hero-usecase--text">
                <%= image_tag("cfakepathlogo-blanc-530.png", height: "30", class: "image-11") %>
                <div class="sizejumbo-text sizejumbo-top-clear usecase-title">
                  La recherche Française sur l&#x27;iA ET les données vocales est en retard.
                </div>
                <p class="paragraph-alias max"> Participez à l&#x27;amélioration de la recherche sur l&#x27;Intelligence artificielle en langue française en partageant vos données avec le VOICELAB.<br>
                  <br>
                </p>
              </div>
              <div  style="display: flex;">
                <a href="/login/?redirect=/transfert/" class="black-link btn-cta opacity-light" style="display: flex;">
                  <div class="button-small white-small w-inline-block" style=" margin-right: 15px;">
                    <p style="margin-bottom: 0px;">Faites que votre voix compte ET AIDEZ À LA RECHERCHE FRANÇAISE</p>
                    <%= image_tag("chevron_right.svg", class: "button-arrow") %>
                  </div>
                </a>
                <a href="#w-node-ccb3f442dca5-59ab2a37" class="black-link scroll btn-cta opacity-light">
                  <div class="button-small white-small w-inline-block">
                    <p style="margin-bottom: 0px;">En savoir plus</p>
                    <%= image_tag("chevron_right.svg", class: "button-arrow") %>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="container padding-80 w-container">
          <div class="intro-uc">
            <div class="title-section">
              <strong>La donnée vocale</strong> est<strong> le futur des applications<br>
              </strong>connectées et de l&#x27;accessibilité.
            </div>
            <p class="paragraph-alias"> Les acteurs publics et privés Français ont besoin de plus de données </p>
          </div>
          <div class="b04_container">
            <div class="card-block-single">
              <div class="img-card-feature imgf-001"></div>
              <div class="b04_card_text">
                <h3 class="title-h2">
                  Pour que la voix <br>
                  de la France compte
                </h3>
                <div class="paragraph-alias"> La voix est le futur des interfaces utilisateurs pour les objets connectés et la voiture autonome. La France doit cultiver son savoir faire garder le contrôle sur la langue Française dans monde numérique.
                </div>
              </div>
            </div>
            <div class="card-block-single">
              <div class="img-card-feature imgf-002"></div>
              <div class="b04_card_text">
                <h3 class="title-h2">La reconnaissance et la synthèse vocale sont le futur </h3>
                <div class="paragraph-alias"> La voix est le futur des interfaces utilisateurs pour les objets connectés et la voiture autonome. La France doit cultiver son savoir faire garder le contrôle sur la langue Française dans monde numérique.
                </div>
              </div>
            </div>
            <div class="card-block-single">
              <div class="img-card-feature imgf-003"></div>
              <div class="b04_card_text">
                <h3 class="title-h2">Respect de la vie privée et des données personnelles</h3>
                <div class="paragraph-alias">Laisser la place aux GAFAs sur le marché des assistants personnels c&#x27;est laisser une autre idée de la vie privée s&#x27;installer dans notre quotidien. Par exemple Amazon vient <a href="https://www.bbc.com/news/technology-43725708" class="link-txt">de breveter une technologie d&#x27;écoute des conversations sur son appareil Alexa</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="container padding-80 w-container">
          <div class="intro-uc">
            <div class="title-section">
              <strong>Les données vocales</strong> de vos Google Home et autres assistants personnels <strong>ont une grande valeur.</strong>
            </div>
            <p class="paragraph-alias">UTILISER VOTRE droit sur les donnees personnelles (RGDP)pour re-equilibrer le pouvoir.<br>
              Demandez en une copie via votre droit a la portabilité RGPD <br>
              et contribuez à l&#x27;écosystème de la &quot;Voicetech&quot; française.
            </p>
            <div class="title-section">
              <strong>OBJECTIF ? </strong>Nous avons besoin de vous !
            </div>
            <div class="w-layout-grid grid-22 mb60">
              <div id="w-node-62c6d678b46b-59ab2a37" class="card-block-single inner">
                <div class="div-block-1031 right">
                  <h5 class="fe02_h5-2 notop right">Vos enregistrements <br>
                    vocaux en fichier mp3
                  </h5>
                  <img
                    src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5dcc1a52cb881d251af02075_micblack.svg"
                    height="40"
                    alt=""
                    class="image-14-copy">
                  </div>
                  <div class="fe02_card_titles">
                    <p class="fe07_text lef right">Accelerate your development workflow with cloneable interface elements and components.
                    </p>
                  </div>
                </div>
                <img
                  src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5dc949e152f69f929c97f3ff_download%20(4).jpeg"
                  height="190"
                  id="w-node-62c6d678b473-59ab2a37"
                  alt="">
                  <div id="w-node-62c6d678b474-59ab2a37" class="card-block-single inner">
                    <div class="div-block-1031">
                      <img
                      src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5dcc1a52cb881d251af02075_micblack.svg"
                      height="40"
                      alt=""
                      class="image-14">
                        <h5 class="fe02_h5-2 notop">Le transcript des vos enregistrements (texte)</h5>
                      </div>
                      <div class="fe02_card_titles">
                        <p class="fe07_text lef">Accelerate your development workflow with cloneable interface elements and components.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-w-id="a315c18b-3676-5537-6882-ccb3f442dc9a" class="section">
              <div class="container padding-80 w-container">
                <div class="w-layout-grid grid-21">
                  <div id="w-node-ccb3f442dca5-59ab2a37" class="div-block-1037">
                    <p class="fe03_text-2-copy te">Les données vocales sont le futur de l&#x27;expérience consommateur. Les assistants personnels, les commandes vocales, la voiture connectée, l&#x27;aide aux personnes en situation de handicap...Aujourd&#x27;hui la recherche Française a besoin de plus de données pour concurrencer les acteurs Américains comme Google , Apple, Amazon, Facebook et les acteurs Chinois comme Baidu, Tencent, Xiaomi ou Alibaba. dans la recherche sur l&#x27;intelligence artificielle, la reconnaissance vocale et la synthèse vocale. Alors que Baidu possède plus de 100,000 heures de &quot;Voix&quot; pour faire travailler ses algorithmes, l&#x27;ensemble de la recherche Française ne dispose que d&#x27;un fichier de 900 heures de &quot;voix en langue Française&quot; pour faire progresser l&#x27;intelligence artificielle en Français. Ce n&#x27;est pas suffisant. Mais en partageant les données que vous ave déjà partagées avec Google et les autres plateformes qui utilisent votre voix, vous pouvez faire la différence. Il suffirait que seulement 50,000 personnes partagent leurs données vocales avec le Voicelab pour que les laboratoires publics et les startups française puissent accéder à un fichier qui permette une compétition à armes égales. Sans écosystème Français solide basé sur des données , alors nous serons tous soumis aux acteurs américains et chinois sur toutes les technologies vocales.</p>
                  </div>
                  <div id="w-node-ccb3f442dca8-59ab2a37" class="div-block-1039">
                    <div id="w-node-ccb3f442dca9-59ab2a37" class="div-block-1043">
                      <div class="div-block-1042"></div>
                      <div class="div-block-1040">
                        <%= image_tag("Screenshot-2019-11-13-at-14.36.17.png", height: "20", class: "image-12") %>
                        <div class="text-block-12">100K Heures</div>
                      </div>
                    </div>
                    <div id="w-node-ccb3f442dcaf-59ab2a37" class="div-block-1043">
                      <div class="div-block-1042 hide"></div>
                      <div class="div-block-1040">
                        <%= image_tag("google-icon.png", height: "50", class: "image-12") %>
                        <div class="text-block-12">1M Heures</div>
                      </div>
                    </div>
                    <div id="w-node-ccb3f442dcb5-59ab2a37" class="div-block-1043">
                      <div class="moving-fr">
                        <div class="div-block-1049">
                          <div class="div-block-1046">
                            <%= image_tag("https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5dcc0da95894c7bcbdec622a_arrow_long_up.svg") %>
                          </div>
                          <div data-w-id="a315c18b-3676-5537-6882-ccb3f442dcba" class="text-block-13">Grâce à vos contributions de données vocales
                          </div>
                        </div>
                      </div>
                      <div class="div-block-1050"></div>
                      <div class="div-block-1040">
                        <%= image_tag("french-flag-icon.png", height: "20", class: "image-12") %>
                        <div class="t1">900 Heures</div>
                      </div>
                    </div>
                    <div id="w-node-ccb3f442dcc1-59ab2a37" class="div-block-1041">
                      <div>
                        <strong class="bold-text-3">ZONE A ATTEINDRE POUR UNE <br>
                          COMPETITION EQUITABLE</strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="container padding-80 w-container">
                <div class="title-section"> Le VoiceLab est une association de loi 1901 pour <strong>unir et fédérer.</strong> <strong>les acteurs français de la recherche sur les technologies vocales.</strong>
                </div>
                <div class="grid-4x1">
                  <div class="card-block-single inner-center">
                    <div class="fe03_icon">
                      <%= image_tag("https://uploads-ssl.webflow.com/5d68f74b5d863299418e9858/5d68f74b5d8632f0c18e9981_globe.svg") %>
                    </div>
                    <h3 class="title-h3">Pour tous</h3>
                    <p class="paragraph-alias">Permettre à l’écosystème français (et européen) de la voix d’être concurrentiel au niveau mondial face aux géants Américians et chinois...</p>
                  </div>
                  <div class="card-block-single inner-center">
                    <div class="fe03_icon">
                      <%= image_tag("https://uploads-ssl.webflow.com/5d68f74b5d863299418e9858/5d68f74b5d86322bdf8e9975_codepen.svg") %>
                    </div>
                    <h3 class="title-h3">Une alternative</h3>
                    <p class="paragraph-alias">... Pour offrir une alternative aux propositions existantes en proposant  APIs et des services performants autour de la voix &quot;made in France&quot; ...</p>
                  </div>
                  <div class="card-block-single inner-center">
                    <div class="fe03_icon">
                      <%= image_tag("https://uploads-ssl.webflow.com/5d68f74b5d863299418e9858/5d68f74b5d8632ada78e99c8_thumbs-up.svg") %>
                    </div>
                    <h3 class="title-h3">French Voicetech</h3>
                    <p class="paragraph-alias">... Le Voice Lab favorise la création de technologies de reconnaissance vocale et de synthèse vocale en langue Française...</p>
                  </div>
                  <div id="w-node-fc491052e455-59ab2a37" class="card-block-single inner-center">
                    <div class="fe03_icon">
                      <%= image_tag("https://uploads-ssl.webflow.com/5d68f74b5d863299418e9858/5d68f74b5d863270d98e9985_mic.svg") %>
                    </div>
                    <h3 class="title-h3">Par vous, pour vous</h3>
                    <p class="paragraph-alias">... Développées dans le respect et l&#x27;éthique des intérêts des utilisateurs, français et européens et en conformité avec le RGPD</p>
                  </div>
                </div>
                <div class="w-layout-grid grid-23">
                  <div class="t04_block">
                    <div class="t04_author_wrap">
                      <div class="t04_stars_wrap">
                        <%= image_tag("https://uploads-ssl.webflow.com/5d68f74b5d863299418e9858/5d68f74b5d863221b08e98c4_stars.svg", class: "t04_star") %>
                        <%= image_tag("https://uploads-ssl.webflow.com/5d68f74b5d863299418e9858/5d68f74b5d863221b08e98c4_stars.svg", class: "t04_star") %>
                        <%= image_tag("https://uploads-ssl.webflow.com/5d68f74b5d863299418e9858/5d68f74b5d863221b08e98c4_stars.svg", class: "t04_star") %>
                        <%= image_tag("https://uploads-ssl.webflow.com/5d68f74b5d863299418e9858/5d68f74b5d863221b08e98c4_stars.svg", class: "t04_star") %>
                        <%= image_tag("https://uploads-ssl.webflow.com/5d68f74b5d863299418e9858/5d68f74b5d863221b08e98c4_stars.svg", class: "t04_star") %>
                      </div>
                    </div>
                    <p class="t04_paragraph">«Le Voice Lab est une chance unique pour dynamiser l&#x27;écosystème du Vocal en France et fédérer nos énergies pour rayonner au niveau mondial. La France a la chance d&#x27;avoir d&#x27;immenses talents et nous nous devons de leur offrir une plateforme pour briller.»</p>
                    <div class="t04_name">M Karel Bourgois</div>
                    <div class="t04_job_titlle">VOXIST</div>
                  </div>
                  <div class="t04_block">
                    <div class="t04_author_wrap">
                      <div class="t04_stars_wrap">
                        <img src="https://uploads-ssl.webflow.com/5d68f74b5d863299418e9858/5d68f74b5d863221b08e98c4_stars.svg" alt="" class="t04_star">
                        <img src="https://uploads-ssl.webflow.com/5d68f74b5d863299418e9858/5d68f74b5d863221b08e98c4_stars.svg" alt="" class="t04_star">
                        <img src="https://uploads-ssl.webflow.com/5d68f74b5d863299418e9858/5d68f74b5d863221b08e98c4_stars.svg" alt="" class="t04_star">
                        <img src="https://uploads-ssl.webflow.com/5d68f74b5d863299418e9858/5d68f74b5d863221b08e98c4_stars.svg" alt="" class="t04_star">
                        <img src="https://uploads-ssl.webflow.com/5d68f74b5d863299418e9858/5d68f74b5d863221b08e98c4_stars.svg" alt="" class="t04_star">
                      </div>
                    </div>
                    <p class="t04_paragraph">«Fédérer les acteurs publics et privés de l&#x27;écosystème de la VOIX et de l&#x27;IA en France et en Europe avec Le Voice Lab est le seul moyen pour proposer une alternative avec  une offre complète pour gérer les data, proposer des APIs standardisés et des services à la fois éthiques et performants.»</p>
                    <div class="t04_name">Mme Katya Lainé</div>
                    <div class="t04_job_titlle">KWALYS</div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="container padding-80 w-container">
                <div class="title_wrap">
                  <p class="text-subtitle">Qu&#x27;est ce que Le Voice Lab?</p>
                  <div class="title-section">Quelles sont <strong>nos étapes pour devenir la référence </strong>française <strong>en reconnaissance vocale ?</strong>
                  </div>
                </div>
                <div class="w-layout-grid grid-24">
                  <div id="w-node-4ee6e487015f-59ab2a37" class="hero2-latest _1">
                    <div>
                      <div class="size5-text-copy">1800</div>
                      <div class="size5-text-big">Contributeurs</div>
                    </div>
                  </div>
                  <div id="w-node-4ee6e4870165-59ab2a37" class="hero2-latest _1">
                    <div>
                      <div class="paragraph-70-copy">On met à jour le fichier existant</div>
                    </div>
                  </div>
                  <div data-w-id="5d1274b8-6b72-ecf9-fe27-4ee6e4870169" class="button-large hero3-button-copy-copy">
                    <div class="text-block-14"><strong>900</strong> Heures</div>
                  </div>
                  <div data-w-id="5d1274b8-6b72-ecf9-fe27-4ee6e487016e" class="button-large hero3-button">
                    <div class="big-copy-copy">5 MILLION € </div>
                    <div>de valeur créée pour l&#x27;éco-système</div>
                  </div>
                </div>
                <div class="w-layout-grid grid-24">
                  <div id="w-node-4ee6e4870174-59ab2a37" class="hero2-latest _2">
                    <div>
                      <div class="size5-text-copy">4000</div>
                      <div class="size5-text-big">Contributeurs</div>
                    </div>
                  </div>
                  <div id="w-node-4ee6e487017a-59ab2a37" class="hero2-latest _2">
                    <div>
                      <div class="paragraph-70-copy">On crée un pool de données de recherche</div>
                    </div>
                  </div>
                  <div data-w-id="5d1274b8-6b72-ecf9-fe27-4ee6e487017e" class="button-large hero3-button-copy-copy">
                    <div><strong>2000 Heures</strong></div>
                  </div>
                  <div data-w-id="5d1274b8-6b72-ecf9-fe27-4ee6e4870182" class="button-large hero3-button _3">
                    <div class="big-copy-copy">10 MILLION € </div>
                    <div>de valeur créée pour l&#x27;éco-système</div>
                  </div>
                </div>
                <div class="w-layout-grid grid-24">
                  <div id="w-node-4ee6e4870188-59ab2a37" class="hero2-latest _3">
                    <div>
                      <div class="size5-text-copy">20,000</div>
                      <div class="size5-text-big">Contributeurs</div>
                    </div>
                  </div>
                  <div id="w-node-4ee6e487018e-59ab2a37" class="hero2-latest _3">
                    <div>
                      <div class="paragraph-70-copy">l&#x27;équivalent d&#x27;une startup dans la silicon valley </div>
                    </div>
                  </div>
                  <div data-w-id="5d1274b8-6b72-ecf9-fe27-4ee6e4870192" class="button-large hero3-button-copy-copy">
                    <div><strong>10,000 Heures</strong></div>
                  </div>
                  <div data-w-id="5d1274b8-6b72-ecf9-fe27-4ee6e4870196" class="button-large hero3-button _4">
                    <div class="big-copy-copy">10 MILLION € </div>
                    <div>l&#x27;équivalent d&#x27;une startup dans la silicon valley </div>
                  </div>
                </div>
                <div class="w-layout-grid grid-24">
                  <div id="w-node-4ee6e487019c-59ab2a37" class="hero2-latest _4">
                    <div>
                      <div class="size5-text-copy">100,000</div>
                      <div class="size5-text-big">Contributeurs</div>
                    </div>
                  </div>
                  <div id="w-node-4ee6e48701a2-59ab2a37" class="hero2-latest _4">
                    <div>
                      <div class="paragraph-70-copy">l&#x27;équivalent d&#x27;un centre de recherche privé d&#x27;un grand groupe</div>
                    </div>
                  </div>
                  <div data-w-id="5d1274b8-6b72-ecf9-fe27-4ee6e48701a6" class="button-large hero3-button-copy-copy">
                    <div><strong>50,000 Heures</strong></div>
                  </div>
                  <div data-w-id="5d1274b8-6b72-ecf9-fe27-4ee6e48701aa" class="button-large hero3-button div-block-1044">
                    <div class="big-copy-copy"><strong>100</strong> MILLION € </div>
                    <div>de valeur créée pour l&#x27;éco-système</div>
                  </div>
                </div>
                <div class="w-layout-grid grid-24">
                  <div id="w-node-4ee6e48701b2-59ab2a37" class="hero2-latest _5">
                    <div>
                      <div class="size5-text-copy">200,000</div>
                      <div class="size5-text-big">Contributeurs</div>
                    </div>
                  </div>
                  <div id="w-node-4ee6e48701b8-59ab2a37" class="hero2-latest _5">
                    <div>
                      <div class="paragraph-70-copy">de valeur créée pour l&#x27;éco-système</div>
                    </div>
                  </div>
                  <div data-w-id="5d1274b8-6b72-ecf9-fe27-4ee6e48701bc" class="button-large hero3-button-copy-copy">
                    <div><strong>100,000 Heures</strong></div>
                  </div>
                  <div data-w-id="5d1274b8-6b72-ecf9-fe27-4ee6e48701c0" class="button-large hero3-button _5">
                    <div class="big-copy-copy">1 MILLIARD €</div>
                    <div>de valeur créée pour l&#x27;éco-système</div>
                  </div>
                </div>
                <div class="last-cta">
                  <div class="div-block-1048"></div>
                  <div class="hero2-latest-copy">
                    <div id="w-node-4ee6e48701cb-59ab2a37" class="div-img-tab">
                      <%= image_tag("https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5dcfd890033682327aeadd66_hi.svg", height: "50", class: "image-15") %>
                      <div class="size5-text-copy-copy">
                        <p>ZONE DE compétition équitable</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="div-block-1027">
                  <a href="https://levoicelab.gdpr.dev/login/?redirect=/transfert/" class="button ghost button-small white-small bt-small opacity-light btn-cta">
                    <p style="margin-bottom: 0px;">Je contribue</p>
                    <%= image_tag("mic.svg", width: "20", class: "button-arrow") %>
                  </a>
                </div>
              </div>
            </div>
            <div>
              <div class="container padding-80 w-container">
                <div class="intro-uc mb-40">
                  <div class="title-section"><strong>Comment</strong> ça marche ?</div>
                  <p class="paragraph-alias">Pour récupérer vos données, vous devez les demander à partir de la plate-forme souhaitée, le problème est qu&#x27;elles sont parfois juridiquement compliquées. C&#x27;est pourquoi Alias vous propose la solution qui peut être créée de toutes pièces et adaptée à vos besoins pour chaque plate-forme. Il vous suffit ensuite d&#x27;envoyer votre demande et d&#x27;accéder à la réception de vos données.</p>
                  <div class="w-layout-grid grid-17">
                    <div class="div-block-1052">
                      <%= image_tag("https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5dc949e152f69f929c97f3ff_download%20(4).jpeg", height: "190", class: "") %>
                      <!--                               <img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5dc949e152f69f929c97f3ff_download%20(4).jpeg" height="190" alt=""> -->
                    </div>
                    <div id="w-node-56120bc1cf31-59ab2a37">
                      <div class="div-block-1051">
                        <%= image_tag("https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5db945a0e381b2d478de84e9_Path%202.svg", height: "12", class: "image-13") %>
                        <!-- <img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5db945a0e381b2d478de84e9_Path%202.svg" height="12" alt="" class="image-13"> -->
                      </div>
                      <div class="div-block-1051">
                        <%= image_tag("https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5db94630c63dc721df7356cc_Path%202.svg", height: "12", class: "") %>
                        <!--                                 <img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5db94630c63dc721df7356cc_Path%202.svg" height="12" alt=""> -->
                      </div>
                    </div>
                    <div class="app-card-01-3 center blue-copy">
                      <div class="fe02_card_titles">
                        <h3 class="fe02_h5-2 white big-copy-copy">PLATEFORME Alias de recuperation de donnnes et GESTION DE<br>
                           CONSENTEMENT <br>
                        </h3>
                        <div class="fe02_text-2 blue">Portabilite RGPD </div>
                      </div>
                    </div>
                    <div id="w-node-56120bc1cf40-59ab2a37">
                      <div class="div-block-1051">
                        <%= image_tag("https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5db94630c63dc721df7356cc_Path%202.svg", height: "12") %>
                        <!--                                 <img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5db94630c63dc721df7356cc_Path%202.svg" height="12" alt=""> -->
                      </div>
                      <div class="div-block-1051">
                        <%= image_tag("https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5db945a0e381b2d478de84e9_Path%202.svg", height: "12") %>
                        <!--  <img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5db945a0e381b2d478de84e9_Path%202.svg" height="12" alt=""> -->
                      </div>
                    </div>
                    <div class="div-block-1032-copy">
                      <div class="div-block-1035">
                        <%= image_tag("https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5dc941fd20589754348bbdf3_cfakepathlogo-blanc-530.png") %>
                        <!-- <img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5dc941fd20589754348bbdf3_cfakepathlogo-blanc-530.png" alt=""> -->
                      </div>
                    </div>
                  </div>
                  <div class="w-layout-grid grid-19">
                    <div id="w-node-8ab014a17efe-59ab2a37" class="app-card-01-3 center both blue-2">
                      <div class="fe02_card_titles">
                        <div class="fe02_text-2">PLATEFORME ALIAS DE<br>
                          RECUPERATION DE DONNEES <br>
                        </div>
                      </div>
                    </div>
                    <div id="w-node-8ab014a17f05-59ab2a37" class="app-card-01-3 center both blue-2">
                      <div class="fe02_card_titles">
                        <div class="fe02_text-2">GOOGLE</div>
                      </div>
                    </div>
                    <div id="w-node-8ab014a17f09-59ab2a37" class="app-card-01-3 center both blue-2">
                      <div class="fe02_card_titles">
                        <div class="fe02_text-2">VOICELAB</div>
                      </div>
                    </div>
                    <div id="w-node-8ab014a17f0d-59ab2a37" class="case-card"><img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5db9570d7358835d58dd2e74_museum.svg" alt="" class="icon-case">
                      <div class="fe02_card_titles">
                        <h3 class="title-card-ex">2. Nous vous aidons à formuler votre demande légale GDPR<br>
                        </h3>
                        <div class="label-card">assistance engine <br>
                        </div>
                      </div>
                    </div>
                    <div id="w-node-8ab014a17f16-59ab2a37" class="case-card">
                      <%= image_tag("google-logo.dad2164f.png", class: "icon-case") %>
                      <!-- <img src="../images/google-logo.dad2164f.png" alt="" class="icon-case"> -->
                      <div class="fe02_card_titles">
                        <h3 class="title-card-ex">1. Vous vous inscrivez à ALIAS</h3>
                        <div class="label-card">Bienvenue à alias<br>
                        </div>
                      </div>
                    </div>
                    <div id="w-node-8ab014a17f1e-59ab2a37" class="case-card">
                      <%= image_tag("google-logo.dad2164f.png", class: "icon-case") %>
                      <!--                               <img src="../images/google-logo.dad2164f.png" alt="" class="icon-case"> -->
                      <div class="fe02_card_titles">
                        <h3 class="title-card-ex">4. Google reçoit votre demande et prépare vos données</h3>
                        <div class="label-card">service juridique<br>
                        </div>
                      </div>
                    </div>
                    <div id="w-node-8ab014a17f26-59ab2a37" class="case-card">
                      <div>
                        <div class="div-block-1035-copy">
                          <%= image_tag("https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5dc941fd20589754348bbdf3_cfakepathlogo-blanc-530.png") %>
                          <!-- <img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5dc941fd20589754348bbdf3_cfakepathlogo-blanc-530.png" alt=""> -->
                        </div>
                      </div>
                      <div class="fe02_card_titles">
                        <h3 class="title-card-ex">7. LeVoiceLab reçoit les données et les télécharge sur votre nouvel appareil</h3>
                        <div class="label-card">NOUVELLES DONNÉES</div>
                      </div>
                    </div>
                    <div id="w-node-8ab014a17f2e-59ab2a37" class="case-card">
                      <%= image_tag("download-4.jpeg", height: "60", class: "icon-case") %>
                      <!-- <img src="../images/download-4.jpeg" height="60" alt="" class="icon-case"> -->
                      <div class="fe02_card_titles">
                        <h3 class="fe02_h5-2">5. Google Home envoie vos données</h3>
                        <div class="fe02_text-2">Base de données<br>
                        </div>
                      </div>
                    </div>
                    <div id="w-node-8ab014a17f36-59ab2a37" class="case-card">
                      <%= image_tag("download-1.jpeg", width: "55", class: "icon-case") %>
                      <!-- <img src="../images/download-1.jpeg" width="55" alt="" class="icon-case"> -->
                      <div class="fe02_card_titles">
                        <h3 class="title-card-ex">3. Vous recevez un e-mail prêt à être renvoyé au service juridique de Google.</h3>
                        <div class="label-card">pret a envoyer<br>
                        </div>
                      </div>
                    </div>
                    <div id="w-node-8ab014a17f3e-59ab2a37" class="div-arrow blue">
                      <div class="div-block-1026-copy-copy">
                        <div class="div-block-1053 _50">
                          <%= image_tag("arrow.png") %>
                          <!--    <img src="../images/arrow.png" srcset="../images/arrow-p-500.png 500w, ../images/arrow.png 723w" sizes="(max-width: 991px) 100vw, 470px" alt=""> -->
                        </div>
                      </div>
                      <div class="div-block-1026-copy-copy">
                        <div class="div-block-1053">
                          <div class="div-block-1030"></div>
                          <%= image_tag("https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5db9586ce381b2ee78def31d_next_ui.svg", height: "15", class: "image-9") %>
                          <img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5db9586ce381b2ee78def31d_next_ui.svg" height="15" alt="" class="image-9"></div>
                      </div>
                      <div>
                        <div class="text-block-10">Vous envoyez l&#x27;email prégénéré (1clic)</div>
                      </div>
                    </div>
                    <div id="w-node-8ab014a17f49-59ab2a37" class="case-card">
                      <%= image_tag("download_1.jpeg", width: '55', class: "icon-case") %>
                      <div class="fe02_card_titles">
                        <h3 class="title-card-ex">6. Vous recevez vos données et donnez accès et consentement à Google</h3>
                        <div class="label-card">Sauvegardez<br>
                        </div>
                      </div>
                    </div>
                    <div id="w-node-8ab014a17f51-59ab2a37" class="div-arrow blue">
                      <div class="div-block-1026-copy-copy">
                        <div class="div-block-1053">
                          <div class="div-block-1032">
                            <img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5db9586c2067fac87889b2b9_back_ui.svg" height="15" alt="" class="image-9">
                          </div>
                          <div class="div-block-1030"></div>
                        </div>
                      </div>
                      <div>
                        <div class="text-block-10 right">Vous recevez vos données<br>
                        </div>
                      </div>
                    </div>
                    <div id="w-node-8ab014a17f5b-59ab2a37" class="div-arrow blue">
                      <div class="div-block-1026-copy-copy">
                        <div class="div-block-1053">
                          <div class="div-block-1030"></div>
                          <img src="https://uploads-ssl.webflow.com/5d526d292ca59aed659476ed/5db9586ce381b2ee78def31d_next_ui.svg" height="15" alt="" class="image-9">
                        </div>
                      </div>
                      <div>
                        <div class="text-block-10">Vous donnez l&#x27;autorisation d&#x27;y accéder<br>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="section-basic">
              <div class="w-container">
                <div class="w-layout-grid grid-25">
                  <div id="w-node-9da23395ec78-59ab2a37" class="div-block-1054">
                    <div class="title-section">Découvrez <br>
                      <strong>qui vous aidez</strong>
                    </div>
                    <p class="paragraph-alias">Les organismes publics et privés membres du Voicelab</p>
                    <div class="cl05_wrap">
                      <a href="http://www.levoicelab.org/" target="_blank" class="cl05_button w-button">En savoir plus
                      </a>
                    </div>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("download.png", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("download-1.png", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("download-2_1.png", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("download-3_1.png", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("download-4_1.png", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("download-5_1.png", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("download_2.jpeg", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("Screenshot-2019-11-11-at-12.18.07.png", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("download-6_1.png", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("download-8_1.png", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("download-2.jpeg", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("download-1_1.jpeg", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("Screenshot-2019-11-11-at-12.26.45.png", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("Screenshot-2019-11-11-at-12.27.13.png", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("Screenshot-2019-11-11-at-12.27.08.png", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("download-3.jpeg", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("Screenshot-2019-11-11-at-12.26.23.png", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("Screenshot-2019-11-11-at-12.25.59.png", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("Screenshot-2019-11-11-at-12.27.46.png", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("Screenshot-2019-11-11-at-12.27.51.png", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("Screenshot-2019-11-11-at-12.27.59.png", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("screenshot-irit.png", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("Screenshot-2019-11-11-at-12.26.52.png", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("Screenshot-2019-11-11-at-12.27.17.png", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("Screenshot-2019-11-11-at-12.27.33.png", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("Screenshot-2019-11-11-at-12.26.57.png", class: "cl05_logo" )%>
                  </div>
                  <div class="cl05_logo_wrap">
                    <%= image_tag("Screenshot-2019-11-11-at-12.27.40.png", class: "cl05_logo" )%>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="container padding-80 w-container">
                <div class="intro-uc mb-40">
                  <div class="title-section">Vos <strong>questions légitimes</strong> sur <strong>vos données</strong></div>
                </div>
                <div class="faq03_full_wrap">
                  <div class="faq_wrap">
                    <h3 class="title-h3">Comment mes données vont être utilisées?</h3>
                    <div class="faq03_line"></div>
                    <p class="paragraph-alias">Vos données vont être utilisées pour entrainer des algorithmes pour la reconnaissance vocale et la synthèse vocale en langue Française des établissements de recherche  membres du Voicelab et qui ont signé la charte d&#x27;adhésion aux valeurs étiques du Voicelab.</p>
                  </div>
                  <div class="faq_wrap">
                    <h3 class="title-h3">Comment mon anonymité est garantie?</h3>
                    <div class="faq03_line"></div>
                    <p class="paragraph-alias">Vos données ne seront pas partagées avec les membres du Voice. Elles seront utilisées comme des données d&#x27;entrainement et de comparaison mais aucun membre n&#x27;y aura accès directement. </p>
                  </div>
                  <div class="faq_wrap">
                    <h3 class="title-h3">Où sont stockées mes données?</h3>
                    <div class="faq03_line"></div>
                    <p class="paragraph-alias">Vos données sont stockées en France, dans les serveurs du laboratoire de recherche Français du STIR, qui garantit également l&#x27;exercice de vos droits d&#x27;accès, de modification, de portabilité et de droit à l&#x27;oubli garanti par le RGPD (Réglement Général sur la Protection des Données)</p>
                  </div>
                  <div class="faq_wrap">
                    <h3 class="title-h3">Comment est géré mon consentement?</h3>
                    <div class="faq03_line"></div>
                    <p class="paragraph-alias">Votre consentement et son retrait est garanti par le contract que vous signez avec le Voicelab sur la plateforme de notre partenaire ALIAS. ALIAs a développé une technologie qui permet de stocker, gérer et traquer vos consentements de manière automatique depuis votre compte utilisateur en tout simplicité.</p>
                  </div>
                  <div class="faq_wrap">
                    <h3 class="title-h3">Comment puis-je retirer l&#x27;accès à mes données partagées au Voicelab?</h3>
                    <div class="faq03_line"></div>
                    <p class="paragraph-alias">Il suffit de vous rendre sur votre compte ALIAS et de cliquer sur &quot;révoquer mon consentement&quot; dans la partie dédiée au Voicelab.</p>
                  </div>
                  <div class="faq_wrap">
                    <h3 class="title-h3">Le don de mes données ont de la valeur, ai-je le droit à une rémunération ou une réduction d&#x27;impôts?</h3>
                    <div class="faq03_line"></div>
                    <p class="paragraph-alias">Pas encore. Pour l&#x27;instant, vos dons de données et les bénéfices liés vont directement au Voicelab qui est une association à but non lucratif. En ce qui concerne une réduction d&#x27;impôts, nous travaillons pour que le don de données en nature soit reconnu comme ouvrant à une éxonération fiscale.</p>
                  </div>
                </div>
              </div>
              <div class="container padding-80 w-container">
                <div class="f01_top_wrap">
                  <a href="#" class="f01_logo w-nav-brand">
                    <h3 class="heading-14">Alias</h3>
                  </a>
                </div>
                <div class="f01_columns w-row">
                  <!-- <div class="f01_column w-col w-col-2 w-col-small-small-stack">
      <div class="f01_title">Main links</div>
      <a href="#" class="f01_link">For users</a>
      <a href="#" class="f01_link">For business</a>
    </div> -->
                  <div class="f01_column w-col w-col-2 w-col-small-small-stack">
                    <div class="f01_title">About us</div>
                    <%= link_to 'Contact', request_path, class: "f01_link" %>
                    <a href="https://medium.com/@gdprtoken" class="f01_link">Blog</a>
                  </div>
                  <div class="f01_column w-col w-col-2 w-col-small-small-stack">
                    <div class="f01_title">Legal</div>
                    <%= link_to 'Terms and conditions', terms_and_conditions_path, class: "f01_link" %>
                  </div>
                  <div class="f01_column w-col w-col-2 w-col-small-small-stack"></div>
                  <div class="f01_column_right w-col w-col-4 w-col-small-small-stack">
                    <div class="f01_title">Follow Our Socials</div>
                    <div class="f01_social_wrap">
                      <div class="f01_social_circle_c">
                        <%= link_to ('https://github.com/Djoudi21/VOICELAB') do %>
                          <%= image_tag ("icon-github.png") %>
                        <% end %>
                      </div>
                      <div class="f01_social_circle">
                        <%= link_to root_path do %>
                          <%= image_tag ("icon-twitter.png") %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script
            src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js"
            type="text/javascript"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
          <script type="application/javascript" src="assets/index.js"></script>
          <script src="assets/webflow.js" type="application/javascript"></script>
          <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
        </body>
      </html>
