<body class="body">
  <div class="custom-body">
    <div class="hero-log blue-bg">
      <div class="w-container">
        <div class="hero-usecase--text-left"><img src="../images/cfakepathlogo-blanc-530.png" height="30" alt="" class="image-11">
          <div class="sizejumbo-text sizejumbo-top-clear usecase-title"><strong>Participez</strong> à La recherche sur l&#x27;iA ET les données vocales, la recherche Française est en retard.</div>
          <div class="lnd_details">Vous souhaitez récupérer vos données? <br>
            Lisez les instructions ci-dessous.
          </div>
          <div class="fe03_container">
            <div class="fe03_card">
              <h3 class="title-h3">💾 1. Où importer ?</h3>
              <p class="paragraph-alias">Choisissez le service de stockage vers lequel vous désirez importer vos données.</p>
            </div>
            <div class="fe03_card">
              <h3 class="title-h3">🔌 2. Contrat Voicelab</h3>
              <p class="paragraph-alias">Remplissez le contrt d'autorisation à Voicelab.</p>
            </div>
            <div class="fe03_card">
              <h3 class="title-h3">🥰 3. Accès à vos données</h3>
              <p class="paragraph-alias">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="container padding-40 pt-80 w-container">
        <div class="cta07_main_wrap">
          <h3>1. Connectez-vous a votre lieu de stockage</h3>
          <p class="paragraph-alias">Veuillez selectioner votre lieu de stockage</p>
        </div>
        <div class="cta07_button_wrap">
          <%= link_to('/api/storage/gdrive/link?redirect=https%3A%2F%2Fvoicelabs.gdpr.dev%2Ftransfert%2F', class: 'btn') do %>
            <div class="icons8-google-drive"></div>
          <% end %>
          <%= link_to('/url/to/authorizeEndpoint', class: 'btn') do %>
            <div class="icons8-dropbox"></div>
          <% end %>
        </div>
      </div>
    </div>
    <div>
      <div class="container padding-40 w-container">
        <div class="form-access w-form">
          <div class="cta07_main_wrap">
            <h3>2. Sélectionnez l&#x27;application d'où vous souhaitez récupérer vos données
              <div id="contract"></div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="container padding-40 w-container">
          <div class="form-access w-form">
            <div class="cta07_main_wrap">
              <h3>4. Validez votre demande</h3>
            </div>
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/YNpERzRABNY"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
            <div class="card-block-single padding">
              <%= link_to 'Obtenir mes données', "https://takeout.google.com/settings/takeout?pli=1", class: "bt-data-copy noline blue w-button" %>
            </div>
          </div>
        </div>
      </div>
      <div class="section-large---inner blue">
        <div class="cta01_bar">
          <div class="cta01_text_wrap">
            <div class="cta01_text">Regardez votre boîte email et ouvrez notre email pour la réception de vos données.</div>
          </div>
        </div>
        <div class="cta01_container">
          <h2 class="cta01_h2-2">Ouvrir mon application de messagerie</h2>
          <div class="div-img-tab">
            <%= link_to ('https://mail.google.com/mail/u/0/') do %>
              <%= image_tag ('icon-gmail.png') %>
            <% end %>
            <%= link_to ('https://outlook.live.com/') do %>
              <%= image_tag ('icon-hotmail.png') %>
            <% end %>
            <%= link_to ('https://login.yahoo.com') do %>
              <%= image_tag ('icon-yahoo.png') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!--     <script type="applicaton/javascript" src="/javascripts/webflow.js"></script -->
    <script type="applicaton/javascript" src="/javascripts/index.js"></script>
    <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  </body>
</html>