<div class="section hero">
  <div class="container w-container">
    <div class="w-layout-grid hero-1">
      <div id="w-node-d2113197e2f9-edabcf65" class="hero-1-left">
        <div class="txt-hero-1">
          <div class="title-hero">Bienvenue</div>
          <p class="paragraph-alias max-hero">Vos données pesonelles constituent votre capital digital, mais aujourd'hui il se trouvent bloqué dans plusieurs platformes. Alias wallet vous aide à les importer, à les protéger, à les visualiser, à les gérer et à les monétiser pour libérer toute leur valeur.</p>
        </div>
        <%= link_to 'EXPLOREZ NOS SOLUTIONS', usecases_path, class: 'button-small white-small w-inline-block' %>
        <img src="images/chevron_right.svg" alt="" class="button-arrow"></a>
    </div>
    <div class="hero-2-right">
      <div class="card-container-login padding-in-25 shadow r-9">
        <div class="div-google-sign">
          <h2 class="heading-12"><strong>S'inscrire</strong></h2>
          <div class="w-layout-grid grid-5 m-b-40">
            <%= link_to "S'inscrire avec Google", user_google_oauth2_omniauth_authorize_path %>
          </div>
        </div>
        <div class="w-form">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="div-field m-b-20">
              <%= f.input :email,
          required: false,
          autofocus: true,
          input_html: { autocomplete: "email" },
          class: "text-field-3 w-input" %>
            </div>
            <div class="div-field m-b-20">
              <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" },
                  class: "text-field-3 w-input" %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
            <div class="div-field m-b-20">
              <%= f.button :submit, "Log in", class: "button_p-2 w-button" %>
            </div>
            <div class="div-block-1018">
              <%= link_to 'Mot de passe perdu?', new_user_password_path, class: 'link-4' %>
              <%= link_to 'Toujours pas inscrit ? Créer un compte', new_user_registration_path, class: 'link-3' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script src="/app/assets/javascripts/webflow.js" type="application/javascript"></script>